<!-- heading -->
<table cellpadding="0" cellspacing="0" style="background-color: white;" width="600">
  <tbody>
    <tr>
      <td align="center" class="title" height="35">&nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 0 30px">
        <h1 style="margin: 0 0 20px; padding: 0; font-size: 30px; line-height: 40px; font-weight: normal;">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        </h1>
        <p style="font-size: 18px; line-height: 22px; color: #333;">
          Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
        </p>
      </td>
    </tr>
  </tbody>